In [1]:
a = "double quotes"

In [2]:
b = 'single quotes'

In [3]:
c = '''triple quotes -> DOCSTRING'''

In [4]:
d = """triple double quotes -> DOCSTRING"""

In [8]:
type(d)

str

In [9]:
string = "fgcshjfbaejhhjab AFAHVDHSBWJS @#$%^&*(*&^%$#@ 23456789865432)"

In [10]:
string

'fgcshjfbaejhhjab AFAHVDHSBWJS @#$%^&*(*&^%$#@ 23456789865432)'

In [11]:
random = "mixed quotations do not work!'

SyntaxError: EOL while scanning string literal (374261817.py, line 1)

In [12]:
# What if the string itself contains quotes!

a = "something "random" which is highlighted!"

SyntaxError: invalid syntax (1718815046.py, line 3)

In [13]:
a = 'something "random" which is highlighted!'

In [14]:
a = '''something "random" which is highlighted!'''

In [15]:
a = "something 'random' which is highlighted!"

In [16]:
# IF YOU WANT TO USE SOME FORM OF QUOTATION INSIDE THE STRING
# DO NOT USE THE SAME TO CREATE IT!

In [17]:
# ESCAPE CHARACTERS!

In [18]:
a = 'can't'

SyntaxError: invalid syntax (862366027.py, line 1)

In [19]:
a = 'can\'t' # \' is an escape character for single quote

In [20]:
a

"can't"

In [22]:
'''
Working with quotations ->
1. Single quotes outside -> Double allowed inside
2. Double quotes outside -> Single allowed inside
3. Triple quotes outside -> Both double and single allowed inside
4. USE ESCAPE CHARACTERS!
'''

'\nWorking with quotations ->\n1. Single quotes outside -> Double allowed inside\n2. Double quotes outside -> Single allowed inside\n3. Triple quotes outside -> Both double and single allowed inside\n4. USE ESCAPE CHARACTERS!\n'

In [24]:
"zebra" > "aaavhfhsdjfhszbczcgajhgdhjsavcbzvchfah"
# LEXICOGRAPHICAL -> Order in a dictionary

True

In [25]:
"abb" > "abg"

False

In [27]:
"a" == "A"

False

In [29]:
"a" > "A" # ASCII value of "a" is greater than that of "A"

True

In [30]:
"random" + "random1"

'randomrandom1'

In [31]:
"random" * 2 * 3

'randomrandomrandomrandomrandomrandom'

In [33]:
ord("a") # get the ASCII value of a character

97

In [34]:
ord("A")

65

In [36]:
ord("0")

48

In [38]:
chr(97) # Convert number to corresponding character

'a'

In [39]:
chr(66)

'B'

In [40]:
def calc_area(l, b):
    a = l * b
    print("Length =", l, ", Breath =", b, ", Area =", a)

In [41]:
calc_area(10, 5)

Length = 10 , Breath = 5 , Area = 50

In [42]:
def calc_area(l, b):
    a = l * b
    print("Length = {} , Breadth = {} , Area = {}".format(l, b, a))

In [44]:
calc_area(10, 5)

Length = 10 , Breadth = 5 , Area = 50

In [45]:
def calc_area(l, b):
    a = l * b
    print("Length = {2} , Breadth = {0} , Area = {1}".format(b, a, l))

In [46]:
calc_area(10, 5)

Length = 10 , Breadth = 5 , Area = 50

In [47]:
# FORMATTABLE STRINGS

In [52]:
def calc_area(l, b):
    a = l * b
    print(f"Length = {l} , Breadth = {b} , Area = {a}")

In [53]:
calc_area(10, 5)

Length = 10 , Breadth = 5 , Area = 50

In [54]:
s1 = "Undertaker"
s2 = "Kane"

In [55]:
s3 = s1 + " v/s " + s2

In [56]:
s3

'Undertaker v/s Kane'

In [59]:
s4 = f"{s1} v/s {s2}"

In [60]:
s4

'Undertaker v/s Kane'

In [61]:
'''
Question 1 -
1. Take a string as input from the user.
2. Print the string character by character in new lines.

INPUT - VIRAT
OUTPUT -
V
I
R
A
T
'''

'\nQuestion 1 -\n1. Take a string as input from the user.\n2. Print the string character by character in new lines.\n\nINPUT - VIRAT\nOUTPUT -\nV\nI\nR\nA\nT\n'

In [62]:
a = input()

for i in a: # STRINGS ARE ITERABLE
    print(i)

VIRAT122
V
I
R
A
T
1
2
2

In [63]:
'''
Question 2 -
1. Take a string as input from the user.
2. Print the following - 
"First Character - f, Last Character - l"
'''

'\nQuestion 2 -\n1. Take a string as input from the user.\n2. Print the following - \n"First Character - f, Last Character - l"\n'

In [65]:
a = input()

print(f"First Character - {a[0]}, Last Character - {a[-1]}")

RAKHI
First Character - R, Last Character - I

In [66]:
a = "Bipin"

In [67]:
a[0]

'B'

In [68]:
a[-1]

'n'

In [69]:
a[2:5]

'pin'

In [70]:
'''
Question 3 -
1. Take a string as input from the user.
2. Check whether that string is a palindrome.
   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."
'''

'\nQuestion 3 -\n1. Take a string as input from the user.\n2. Check whether that string is a palindrome.\n   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."\n'

In [71]:
"naman" == "naman"

True

In [72]:
"Naman" == "namaN"

False

In [73]:
ord("a") - ord("A")

32

In [75]:
ord("b") - ord("B")

32

In [78]:
chr(ord("Z") + 32)

'z'

In [79]:
def lower_case(a):
    result = ""
    
    for i in a:
        if i >= "A" and i <= "Z":
            result += chr(ord(i) + 32)
        else:
            result += i
            
    return result

In [80]:
a = "this IS ranDOm!"

In [81]:
lower_case(a)

'this is random!'

In [83]:
a[::-1]

'!mODnar SI siht'

In [84]:
def check_palindrome(a):
    a = lower_case(a)
    
    if a == a[::-1]:
        return "PALINDROME!"
    else:
        return "NOT A PALINDROME!"

In [88]:
check_palindrome("NitIn")

'PALINDROME!'

In [89]:
check_palindrome("bipIn")

'NOT A PALINDROME!'

In [90]:
'''
Question 4 -
1. Take a string as input from the user.
2. Print the count of uppercase characters in that string. (alphabets)

INPUT - "This is a Random%^&*()"
OUTPUT - 2
'''

'\nQuestion 4 -\n1. Take a string as input from the user.\n2. Print the count of uppercase characters in that string. (alphabets)\n\nINPUT - "This is a Random%^&*()"\nOUTPUT - 2\n'

In [92]:
def count_upper_case(a):
    count = 0
    
    for i in a:
        if i >= "A" and i <= "Z":
            count += 1
            
    return count

In [94]:
count_upper_case("This IS a RANDOM string!")

9

In [95]:
'''
Question 5 -
1. You are given a list as input to a function.
2. Generate a string from the chr values of the integers in the list.

INPUT = [65, 97, 68]
OUTPUT = "AaD"

EXPLANATION - 
"A" -> 65
"a" -> 97
"D" -> 68
'''

'\nQuestion 5 -\n1. You are given a list as input to a function.\n2. Generate a string from the chr values of the integers in the list.\n\nINPUT = [65, 97, 68]\nOUTPUT = "AaD"\n\nEXPLANATION - \n"A" -> 65\n"a" -> 97\n"D" -> 68\n'

In [96]:
a = [80, 89, 84, 72, 79, 78, 128013]

In [97]:
def generate_string(a):
    s = ""
    
    for i in a:
        s += chr(i)
        
    return s

In [98]:
generate_string(a)

'PYTHONüêç'