In [2]:
import pandas as pd
import numpy as np

In [48]:
data = pd.read_csv("Pfizer_1.csv")

In [49]:
data.shape

(18, 15)

In [50]:
data_melt = pd.melt(
    data,
    id_vars = ["Date", "Drug_Name", "Parameter"],
    var_name = "Time",
    value_name = "Reading"
)

In [51]:
# data_melt

In [52]:
data_tidy = data_melt.pivot(
    index = ["Date", "Time", "Drug_Name"],
    columns = "Parameter",
    values = "Reading"
)

In [53]:
data_tidy

Parameter                                    Pressure  Temperature
Date       Time     Drug_Name
15-10-2020 10:30:00 diltiazem hydrochloride      18.0         20.0
                    docetaxel injection          26.0         23.0
                    ketamine hydrochloride        9.0         22.0
           11:30:00 diltiazem hydrochloride      19.0         20.0
                    docetaxel injection          29.0         25.0
...                                               ...          ...
17-10-2020 8:30:00  docetaxel injection          26.0         19.0
                    ketamine hydrochloride       11.0         20.0
           9:30:00  diltiazem hydrochloride       9.0         13.0
                    docetaxel injection          27.0         20.0
                    ketamine hydrochloride       12.0         21.0

[108 rows x 2 columns]

In [54]:
data_tidy = data_tidy.reset_index()

In [55]:
data_tidy

Parameter,Date,Time,Drug_Name,Pressure,Temperature
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0
...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0

In [14]:
data_tidy.columns

Index(['Date', 'Time', 'Drug_Name', 'Pressure', 'Temperature'], dtype='object', name='Parameter')

In [15]:
data_tidy.columns.name = None

In [16]:
data_tidy.head()

         Date      Time                Drug_Name  Pressure  Temperature
0  15-10-2020  10:30:00  diltiazem hydrochloride      18.0         20.0
1  15-10-2020  10:30:00      docetaxel injection      26.0         23.0
2  15-10-2020  10:30:00   ketamine hydrochloride       9.0         22.0
3  15-10-2020  11:30:00  diltiazem hydrochloride      19.0         20.0
4  15-10-2020  11:30:00      docetaxel injection      29.0         25.0

In [17]:
data.head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20

In [18]:
# NaN -> Not a Number -> Value is missing

In [19]:
# None -> Nothing -> Value is missing

In [20]:
type(None)

NoneType

In [22]:
type(np.nan)

# Special number within python to represent a missing value
# in a numerical column

float

In [23]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [24]:
pd.Series(["1", "np.nan", "2", np.nan, None])

0         1
1    np.nan
2         2
3       NaN
4      None
dtype: object

In [25]:
pd.isnull

In [26]:
pd.isna

In [27]:
data.isna().head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False

In [28]:
data.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [29]:
data.isna().sum(axis = 1)

0     1
1     1
2     4
3     4
4     3
5     3
6     1
7     1
8     1
9     1
10    2
11    2
12    1
13    1
14    0
15    0
16    0
17    0
dtype: int64

In [31]:
data.dropna()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [32]:
data.dropna(axis = 1)

,Date,Drug_Name,Parameter,6:30:00,10:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,22,20,21
1,15-10-2020,diltiazem hydrochloride,Pressure,14,18,20
2,15-10-2020,docetaxel injection,Temperature,18,23,25
3,15-10-2020,docetaxel injection,Pressure,23,26,28
4,15-10-2020,ketamine hydrochloride,Temperature,26,22,20
5,15-10-2020,ketamine hydrochloride,Pressure,9,9,11
6,16-10-2020,diltiazem hydrochloride,Temperature,38,40,42
7,16-10-2020,diltiazem hydrochloride,Pressure,23,24,27
8,16-10-2020,docetaxel injection,Temperature,49,56,58
9,16-10-2020,docetaxel injection,Pressure,27,28,30
10,16-10-2020,ketamine hydrochloride,Temperature,12,13,15
11,16-10-2020,ketamine hydrochloride,Pressure,15,16,18
12,17-10-2020,diltiazem hydrochloride,Temperature,16,14,10
13,17-10-2020,diltiazem hydrochloride,Pressure,8,11,14
14,17-10-2020,docetaxel injection,Temperature,17,21,23
15,17-10-2020,docetaxel injection,Pressure,23,28,28
16,17-10-2020,ketamine hydrochloride,Temperature,18,22,24
17,17-10-2020,ketamine hydrochloride,Pressure,12,13,15

In [33]:
data.fillna(0).head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,0.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,0.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,0.0,17.0,18.0,0.0,17.0,18,0.0,0.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,0.0,22.0,22.0,0.0,22.0,23,0.0,0.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,0.0,0.0,27.0,0.0,26,25.0,24.0,23.0,22,21.0,20

In [35]:
data["2:30:00"].mean()

18.8125

In [36]:
data["2:30:00"].fillna(data["2:30:00"].mean())

0     22.0000
1     13.0000
2     17.0000
3     22.0000
4     18.8125
5     18.8125
6     35.0000
7     19.0000
8     47.0000
9     24.0000
10     9.0000
11    12.0000
12    19.0000
13     4.0000
14    13.0000
15    22.0000
16    14.0000
17     9.0000
Name: 2:30:00, dtype: float64

In [37]:
# data_tidy -> apply and groupby

In [39]:
data_tidy

           Date      Time                Drug_Name  Pressure  Temperature
0    15-10-2020  10:30:00  diltiazem hydrochloride      18.0         20.0
1    15-10-2020  10:30:00      docetaxel injection      26.0         23.0
2    15-10-2020  10:30:00   ketamine hydrochloride       9.0         22.0
3    15-10-2020  11:30:00  diltiazem hydrochloride      19.0         20.0
4    15-10-2020  11:30:00      docetaxel injection      29.0         25.0
..          ...       ...                      ...       ...          ...
103  17-10-2020   8:30:00      docetaxel injection      26.0         19.0
104  17-10-2020   8:30:00   ketamine hydrochloride      11.0         20.0
105  17-10-2020   9:30:00  diltiazem hydrochloride       9.0         13.0
106  17-10-2020   9:30:00      docetaxel injection      27.0         20.0
107  17-10-2020   9:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 5 columns]

In [45]:
data_tidy

                                   Date      Time                Drug_Name
Drug_Name
diltiazem hydrochloride 0    15-10-2020  10:30:00  diltiazem hydrochloride  \
                        3    15-10-2020  11:30:00  diltiazem hydrochloride
                        6    15-10-2020  12:30:00  diltiazem hydrochloride
                        9    15-10-2020   1:30:00  diltiazem hydrochloride
                        12   15-10-2020   2:30:00  diltiazem hydrochloride
...                                 ...       ...                      ...
ketamine hydrochloride  95   17-10-2020   5:30:00   ketamine hydrochloride
                        98   17-10-2020   6:30:00   ketamine hydrochloride
                        101  17-10-2020   7:30:00   ketamine hydrochloride
                        104  17-10-2020   8:30:00   ketamine hydrochloride
                        107  17-10-2020   9:30:00   ketamine hydrochloride

                             Pressure  Temperature   Temp_Avg
Drug_Name
diltiazem hydrochloride 0        18.0         20.0  24.848485
                        3        19.0         20.0  24.848485
                        6        20.0         21.0  24.848485
                        9        12.0         23.0  24.848485
                        12       13.0         22.0  24.848485
...                               ...          ...        ...
ketamine hydrochloride  95       11.0         17.0  17.709677
                        98       12.0         18.0  17.709677
                        101      12.0         19.0  17.709677
                        104      11.0         20.0  17.709677
                        107      12.0         21.0  17.709677

[108 rows x 6 columns]

In [40]:
def temp_mean(x):
    # x will be a group
    # in that group, we are setting the value of the entire Temp_Avg column
    # to the average value of the Temperature column
    
    x["Temp_Avg"] = x["Temperature"].mean()
    return x

In [60]:
data_tidy.groupby(["Drug_Name"]).apply(temp_mean)

Parameter                          Date      Time                Drug_Name
Drug_Name
diltiazem hydrochloride 0    15-10-2020  10:30:00  diltiazem hydrochloride  \
                        3    15-10-2020  11:30:00  diltiazem hydrochloride
                        6    15-10-2020  12:30:00  diltiazem hydrochloride
                        9    15-10-2020   1:30:00  diltiazem hydrochloride
                        12   15-10-2020   2:30:00  diltiazem hydrochloride
...                                 ...       ...                      ...
ketamine hydrochloride  95   17-10-2020   5:30:00   ketamine hydrochloride
                        98   17-10-2020   6:30:00   ketamine hydrochloride
                        101  17-10-2020   7:30:00   ketamine hydrochloride
                        104  17-10-2020   8:30:00   ketamine hydrochloride
                        107  17-10-2020   9:30:00   ketamine hydrochloride

Parameter                    Pressure  Temperature   Temp_Avg
Drug_Name
diltiazem hydrochloride 0        18.0         20.0  24.848485
                        3        19.0         20.0  24.848485
                        6        20.0         21.0  24.848485
                        9        12.0         23.0  24.848485
                        12       13.0         22.0  24.848485
...                               ...          ...        ...
ketamine hydrochloride  95       11.0         17.0  17.709677
                        98       12.0         18.0  17.709677
                        101      12.0         19.0  17.709677
                        104      11.0         20.0  17.709677
                        107      12.0         21.0  17.709677

[108 rows x 6 columns]

In [62]:
data_final = data_tidy.groupby(["Drug_Name"], group_keys = False).apply(temp_mean)

In [63]:
data_final

Parameter,Date,Time,Drug_Name,Pressure,Temperature,Temp_Avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097
...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677

In [64]:
data_final["Temperature"].fillna(data_final["Temp_Avg"], inplace = True)

In [67]:
data_final["Temperature"].isna().sum()

0

In [68]:
# STEP 1
def pressure_mean(x):
    x["Pressure_Avg"] = x["Pressure"].mean()
    return x

In [69]:
# STEP 2
data_final = data_final.groupby(["Drug_Name"], group_keys = False).apply(pressure_mean)

In [71]:
# STEP 3
data_final["Pressure"].fillna(data_final["Pressure_Avg"], inplace = True)

In [72]:
data_final["Pressure"].isna().sum()

0

In [73]:
data_final.isna().sum()

Parameter
Date            0
Time            0
Drug_Name       0
Pressure        0
Temperature     0
Temp_Avg        0
Pressure_Avg    0
dtype: int64

In [76]:
data_final

Parameter,Date,Time,Drug_Name,Pressure,Temperature,Temp_Avg,Pressure_Avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871
...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484

In [77]:
print(data_final["Temperature"].min(), data_final["Temperature"].max())

8.0 58.0

In [78]:
# 5 - 60 -> Temperature Range

In [79]:
temp_points = [5, 20, 35, 50, 60]
temp_labels = ["low", "medium", "high", "very high"]

In [81]:
data_final["Temp_Category"] = pd.cut(
    data_final["Temperature"],
    bins = temp_points,
    labels = temp_labels
)

In [82]:
data_final

Parameter,Date,Time,Drug_Name,Pressure,Temperature,Temp_Avg,Pressure_Avg,Temp_Category
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,medium
...,...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871,low
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium

In [84]:
data_final["Temp_Category"].value_counts()

Temp_Category
low          50
medium       38
high         15
very high     5
Name: count, dtype: int64

In [85]:
# Data for all the drug names which contain "hydrochloride"

In [86]:
data_final.loc[data_final["Drug_Name"].str.contains("hydrochloride")]

Parameter,Date,Time,Drug_Name,Pressure,Temperature,Temp_Avg,Pressure_Avg,Temp_Category
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.000000,20.000000,24.848485,15.424242,low
2,15-10-2020,10:30:00,ketamine hydrochloride,9.000000,22.000000,17.709677,11.935484,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.000000,20.000000,24.848485,15.424242,low
5,15-10-2020,11:30:00,ketamine hydrochloride,9.000000,21.000000,17.709677,11.935484,medium
6,15-10-2020,12:30:00,diltiazem hydrochloride,20.000000,21.000000,24.848485,15.424242,medium
...,...,...,...,...,...,...,...,...
101,17-10-2020,7:30:00,ketamine hydrochloride,12.000000,19.000000,17.709677,11.935484,low
102,17-10-2020,8:30:00,diltiazem hydrochloride,15.424242,24.848485,24.848485,15.424242,medium
104,17-10-2020,8:30:00,ketamine hydrochloride,11.000000,20.000000,17.709677,11.935484,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.000000,13.000000,24.848485,15.424242,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.000000,21.000000,17.709677,11.935484,medium

In [87]:
# Series.str.function_name

In [91]:
data_final["Date"].str.split("-")

0      [15, 10, 2020]
1      [15, 10, 2020]
2      [15, 10, 2020]
3      [15, 10, 2020]
4      [15, 10, 2020]
            ...
103    [17, 10, 2020]
104    [17, 10, 2020]
105    [17, 10, 2020]
106    [17, 10, 2020]
107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

In [92]:
data_final["Date"].str.split("-").apply(lambda x: x[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [93]:
data_final["Timestamp"] = data_final["Date"] + " " + data_final["Time"]

In [95]:
data_final.drop(["Date", "Time"], axis = 1, inplace = True)

In [96]:
data_final

Parameter,Drug_Name,Pressure,Temperature,Temp_Avg,Pressure_Avg,Temp_Category,Timestamp
0,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,15-10-2020 10:30:00
1,docetaxel injection,26.0,23.0,30.387097,25.483871,medium,15-10-2020 10:30:00
2,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium,15-10-2020 10:30:00
3,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,15-10-2020 11:30:00
4,docetaxel injection,29.0,25.0,30.387097,25.483871,medium,15-10-2020 11:30:00
...,...,...,...,...,...,...,...
103,docetaxel injection,26.0,19.0,30.387097,25.483871,low,17-10-2020 8:30:00
104,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low,17-10-2020 8:30:00
105,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low,17-10-2020 9:30:00
106,docetaxel injection,27.0,20.0,30.387097,25.483871,low,17-10-2020 9:30:00
107,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium,17-10-2020 9:30:00

In [97]:
data_final["Timestamp"] = pd.to_datetime(data_final["Timestamp"])

/var/folders/nn/c52y0d3j0gq59dpsswchkt2r0000gn/T/ipykernel_29780/3482943313.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_final["Timestamp"] = pd.to_datetime(data_final["Timestamp"])

In [98]:
data_final

Parameter,Drug_Name,Pressure,Temperature,Temp_Avg,Pressure_Avg,Temp_Category,Timestamp
0,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,2020-10-15 10:30:00
1,docetaxel injection,26.0,23.0,30.387097,25.483871,medium,2020-10-15 10:30:00
2,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium,2020-10-15 10:30:00
3,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,2020-10-15 11:30:00
4,docetaxel injection,29.0,25.0,30.387097,25.483871,medium,2020-10-15 11:30:00
...,...,...,...,...,...,...,...
103,docetaxel injection,26.0,19.0,30.387097,25.483871,low,2020-10-17 08:30:00
104,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low,2020-10-17 08:30:00
105,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low,2020-10-17 09:30:00
106,docetaxel injection,27.0,20.0,30.387097,25.483871,low,2020-10-17 09:30:00
107,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium,2020-10-17 09:30:00

In [100]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Drug_Name      108 non-null    object
 1   Pressure       108 non-null    float64
 2   Temperature    108 non-null    float64
 3   Temp_Avg       108 non-null    float64
 4   Pressure_Avg   108 non-null    float64
 5   Temp_Category  108 non-null    category
 6   Timestamp      108 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(4), object(1)
memory usage: 10.3+ KB

In [104]:
t = data_final["Timestamp"][0]

In [105]:
t

Timestamp('2020-10-15 10:30:00')

In [106]:
t.year

2020

In [107]:
t.month

10

In [108]:
t.day

15

In [109]:
t.month_name()

'October'

In [110]:
t.week

42

In [112]:
t.date()

datetime.date(2020, 10, 15)

In [113]:
t

Timestamp('2020-10-15 10:30:00')

In [118]:
t.strftime("%D")

'10/15/20'

In [122]:
t.strftime("%d-    %m-     %y")

'15-    10m-     20'

https://pandas.pydata.org/docs/reference/api/pandas.Period.strftime.html

In [123]:
data_final.to_csv("Pfizer_Final.csv", sep = ",", index = False)

In [ ]:
"A, B, C, D"